<!-- <input type="text" name="inputcategory" #newData>
<button (click)="addCategory(newData.value)">
  Add Category
</button> -->
<!-- <table>
  <tr *ngFor="let data of Addcategory">
    <td *ngIf="data.name=='Clothes'">
      <span>
        <h3>
          {{data.name}}    
        </h3>
      </span>
    </td>
    <td *ngIf="data.name=='Clothes'">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add Products</button>
    </td>
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h5>
              Please Add The Cloth Item
            </h5>
          </div>
          <div class="modal-body">
            <input type="text" name="inputcategory" #newData1>
            <button (click)="addclothes(newData1.value)" type="button" class="btn btn-info btn-md" data-dismiss="modal">
              Add Clothes
            </button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <td *ngIf="data.name=='Asscessories'">
      <span>
        <h3 >
          {{data.name}}
        </h3>
      </span>    
    </td>
    <td *ngIf="data.name=='Asscessories'">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal1">Add Products</button>
    </td>
    <div class="modal fade" id="myModal1" role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h5>
              Please Add The Asscessories Item
            </h5>
          </div>
          <div class="modal-body">
            <input type="text" name="inputcategory" #newData2>
            <button (click)="addAsscessories(newData2.value)" type="button" class="btn btn-info btn-md" data-dismiss="modal">
              Add Asscessories
            </button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </tr>
   <td *ngIf="data.name=='Asscessories'">
    <input type="text" name="inputcategory" #newData2>
    <button (click)="addAsscessories(newData2.value)">
      Add Asscessories
    </button>
  </td> 
</table> -->


<!-- <div class="row">
  <div class="col-md-6" style="background-color: green">
    <h3 data-toggle="collapse" data-target="#demo">
      Clothes
    </h3>
    <div id="demo" class="collapse" style="background-color: blue">
      <div *ngFor="let clothes of Addclothes">
        {{clothes.name}}
      </div>
    </div>

  </div>
  <div class="panel-group col-md-6" id="accordion">
    <div class="panel panel-primary">
      <div class="panel-heading" style="background-color: yellow">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Asscessories</a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
          <div *ngFor="let asscess of Addasscessories">
            {{asscess.name}}
          </div>
        </div>
      </div>
    </div>

  </div>

</div> -->
<!-- <div class="col-md-6 panel-group" id="accordion">
    <div class="panel panel-default">
      <h3 data-toggle="collapse" data-target="#demo1" data-parent="#accordion">
        Asscessories
      </h3>
      <div id="demo1" class="panel-collapse collapse">
        <div class="panel-body">Panel Body</div>
        <div class="panel-footer">Panel Footer</div>
        <div *ngFor="let asscess of Addasscessories">
          {{asscess.name}}
        </div>
      </div>
    </div>
  </div> -->

<app-accordion></app-accordion>