<input type="text" name="inputcategory" #newData>
<button (click)="addCategory(newData.value)">
  Add Category
</button>
<table>
  <tr *ngFor="let data of Addcategory">
    <td *ngIf="data.name=='Clothes'">
      <h3 data-toggle="modal" data-target="#myModal">
        {{data.name}}
      </h3>
    </td>
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h5>
              Please Add The Cloth Item
            </h5>
          </div>
          <div class="modal-body">
            <input type="text" name="inputcategory" #newData1>
            <button (click)="addclothes(newData1.value)" type="button" class="btn btn-info btn-md">
              Add Clothes
            </button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <td *ngIf="data.name=='Asscessories'">
      <h3 data-toggle="modal" data-target="#myModal1">
        {{data.name}}
      </h3>
    </td>
    <div class="modal fade" id="myModal1" role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h5>
              Please Add The Cloth Item
            </h5>
          </div>
          <div class="modal-body">
            <input type="text" name="inputcategory" #newData2>
            <button (click)="addAsscessories(newData2.value)" type="button" class="btn btn-info btn-md">
              Add Asscessories
            </button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </tr>
  <!-- <td *ngIf="data.name=='Asscessories'">
    <input type="text" name="inputcategory" #newData2>
    <button (click)="addAsscessories(newData2.value)">
      Add Asscessories
    </button>
  </td> -->
</table>


<div class="row">
  <div class="col-md-6">
    <!-- <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Clothes</button> -->
    <h3 data-toggle="collapse" data-target="#demo">
      Clothes
    </h3>
    <div id="demo" class="collapse">
      <div *ngFor="let clothes of Addclothes">
        {{clothes.name}}
      </div>
    </div>

  </div>
  <div class="col-md-6">
    <h3 data-toggle="collapse" data-target="#demo1">
      Asscessories
    </h3>
    <div id="demo1" class="collapse">
      <div *ngFor="let asscess of Addasscessories">
        {{asscess.name}}
      </div>
    </div>
  </div>
</div>